* {
	box-sizing: border-box;
}

body {
  width: 100%;
  height: 200vh;
  margin: 0;

  /*filter: blur(10px);*/

  /*

Image by <a href="https://pixabay.com/users/12019-12019/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=91849">David Mark</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=91849">Pixabay</a>

  */
}

/*
// Content we're putting a blur over
.background {
  background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

// Background Blur using backdrop-filter
.blur {
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
	width: 50%;
}

*/


.background {
  /*border: 10px black solid;*/
  background-image: url(large-gym.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  width: 100%;
  margin: 0;
}

.filter {
  /*border: 10px black solid;*/
  background: rgba(125, 50, 50, 0.5);

  width: 100%;
  height: 200vh;
}

h1, p {
  text-align: center;
  margin-top: 0px;
}

form {
  /*border: 1px black solid;*/
  width: 70%;
  max-width: 700px;
  margin: 0px auto;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #88A2AA;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;

}

input, textarea, select {
  width: 98%;
  /*margin-left: 1rem;*/
  margin-right: 1rem;
  margin-top: 0.2rem;
  height: 2rem;
  background-color: #E2856E;
  color: #0F1A20;
  font-size: 1.2rem;
  border: none;

}

textarea {
  height: 6rem;
}


input[type="radio"], input[type="checkbox"] {
  width: revert;
  height: revert;
}

form label {
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
}

#name-label {

  padding-top: 2rem;
}


input[type="submit"] {
  display: block;
  /*border: 1px black solid;*/
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;


}

input[type="submit"]:hover {
  background-color: #F42C04;
}

input[type="submit"]:active {
  background-color: white;
}

.attribution {
	margin: 0px;
	padding: 0px;
	text-align: right;
	background: rgba(125, 50, 50, 0.1);
	position: absolute;
	bottom: -98vh;
 	right: 1vh;
}