body {
  width: 100vm;
  height: 100vm;
  background-image: url(large-gym.jpg);

  /*

Image by <a href="https://pixabay.com/users/12019-12019/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=91849">David Mark</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=91849">Pixabay</a>

  */
}

h1, p {
  text-align: center;
}

form {
  /*border: 1px black solid;*/
  width: 70%;
  max-width: 700px;
  margin: 0px auto;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #88A2AA;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;

}

input, textarea, select {
  width: 98%;
  /*margin-left: 1rem;*/
  margin-right: 1rem;
  margin-top: 0.2rem;
  height: 2rem;
  background-color: #E2856E;
  color: #0F1A20;
  font-size: 1.2rem;
  border: none;

}

textarea {
  height: 6rem;
}


input[type="radio"], input[type="checkbox"] {
  width: revert;
  height: revert;
}

form label {
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
}

#name-label {

  padding-top: 2rem;
}


input[type="submit"] {
  display: block;
  /*border: 1px black solid;*/
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;


}

input[type="submit"]:hover {
  background-color: #F42C04;
}

input[type="submit"]:active {
  background-color: white;
}